.home_img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%; 
}
.img-background{
        position: relative;
        height: 100vh; /* Full height */
        background-image: url('assets/img1.jpg') ;
        /* opacity: ; */
}

.overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 182, 193, 0.5); /* Pink overlay with 50% opacity */
        pointer-events: none; /* Allow interaction with text */
}

.btn-pink {
    background-color: #ff69b4;  
    color: white;               
    border: none;              
}

.btn-pink:hover {
    background-color: #ff1493;  
}
.h2{
    color: black;
    opacity: 1;
    background: rgba(221, 212, 212, 0.5); 

}


.btn-purple {
    background-color: #c364d1;  
    color: white;                
    border: none;               
}

.btn-purple:hover {
    background-color: #c364d1;   /* Darker pink on hover */
}


.box {
    background: rgba(255, 255, 255, 0.7); 
    padding: 4px;
    border-radius: 10px;
    width: 60%;
    height: 100%;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Enable vertical scrolling */
    

}