
body {
font-family:'Times New Roman', Times, serif;
background-color: #fdfdfd;
margin: 0;
padding: 0;

}

.img{
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.container{

    position: center;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
   
}

/*.blurred-image {
    filter: blur(5px); /* Adjust the blur amount as needed */
    /*width: 300px; /* Optional: set the width of the image */
    /*height: auto; /* Maintain aspect ratio */
/*}*/

.mt-4{
   
    position: fixed;
    margin-left: 120px;
    width: 40%;
    
}









