<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Input House Features</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='stylesheet.css')}}">
</head>
<body class="img-background">
<!-- <img src="static/assets/img1.jpg" class="img"> -->

<div class="container box">

    <h2 class="mt-5 ">History</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            {% for feat in feature_names %}
            <th>{{ feat }}</th>
            {% endfor %}
            <th>Prediction</th>
        </tr>
        </thead>
        <tbody>
        {% for dd in data %}
        <tr>
            {% for feat in feature_names %}
            <td>
                {{ dd[feat] }}
            </td>
            {% endfor %}
            <td>
                {{ dd['prediction'] }}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


</body>
</html>
